#header{
    background-color: blueviolet;
}

.trending{
    background-color: yellow;
}

#sidebar{
    background-color: green;
}

.projects{
    background-color: grey;
}

.announcements{
    background-color: peru;
}